<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/"><button class="anchorBTN">Back</button></a>
    <form method="POST" action="/new">
      <h2>Create a new post</h2>
      <label for="name">Name</label>
      <input type="text" id="name" name="user" />
      <label for="text">Text</label>
      <input type="text" id="text" name="text" />
      <button>Submit</button>
    </form>
  </body>
</html>
